.container {
  background-color: white;
  max-width: 443px;
  padding: 3.25rem;
  border-radius: 20px;
  position: relative;
}

.img {
  position: absolute;
  right: 3.25rem;
  top: 50%;
  transform: translateY(-50%);
}

.p {
  width: 65%;
}

.h3 {
  width: 65%;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}